<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/wagui/image/upload/v1659456677/wairdrone/banners/banner_home_b_q7nlh6.svg);">
  <div class="container">
    <h2><strong>SIMULATEUR DE DEVIS GRATUIT</strong></h2>
    <p><br>Notre module simulateur de devis est à votre disposition afin d'avoir une estimation approximative du coût d'une de nos expertise.
    <br>
    Très simple d'utilistation, il se base sur trois critères qui sont le coût de captation, de traitement et de déplacement.
    <br><br>
    Cette simulation n'est pas un devis et sera soumise à validation par nos services.</p>
    <a class="btn btn-ghost" href="/services">Simulation devis</a>
  </div>
</div>
