<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/wagui/image/upload/v1659456677/wairdrone/banners/banner_home_b_q7nlh6.svg);">
  <div class="container">
    <h2><strong><%= @service.name.upcase %></strong></h2>
    <p><%= @service.description %></p>
    <a class="btn btn-ghost" href="/services">Simulation devis</a>
  </div>
</div>

