<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/wagui/image/upload/v1659456677/wairdrone/banners/banner_home_b_q7nlh6.svg);">
  <div class="container">
    <h2><strong>CONDITIONS GÉNÉRALES DE VENTE</strong></h2>
    <p>Les présentes CGV (conditions générales de vente) régissent de manière exclusive les relations commerciales entre WAIRDRONE, entreprise en nom propre GENET Guillaume, dont le siège social est situé  au 14 rue de la République - 83300 Draguignan, en France, SIRET 539 918 771 00020, assurance AXA numéro 10287869104, et une personne physique professionnelle ou non achetant pour ces besoins ("le Client") un service ("le Service"). Elles prévalent sur tous les documents contractuels ou non, même postérieurs, émis par le Client.
    Toute commande passée auprès de WAIRDRONE sera soumise aux présentes CGV. Le fait de passer commande implique l’adhésion totale du Client aux présentes CGV. WAIRDRONE se réserve le droit d’adapter ou de modifier les présentes CGV à tout moment sans préavis. Ces modifications s’appliqueront à toute commande conclue postérieurement à leur mise en ligne sur le site internet de WAIRDRONE.</p>
  </div>
</div>
<%# <div class="conditions-logo">
  <%= cl_image_tag("https://res.cloudinary.com/wagui/image/upload/v1659711968/wairdrone/Logos/logo-cgv_jklpce.svg") %>
<%# </div> %>
<div class="conditions-content", style="padding: 30px 50px">
  <p>
  1. Le Service a pour objet principal la collecte et le traitement d’images à partir d’un drone, selon les modalités décrites dans le devis accepté par le Client ('le Devis').
  </p>
  <p>
  2. Le Client accepte que l'envoi du Devis et les échanges d’informations avec WAIRDRONE puissent se faire par mail.
  </p>
  <p>
  3. Une fois le Devis accepté par le Client, il est définitif et ne peut être annulé par ce dernier. Toutefois, le Devis est toujours conclu sous la condition résolutoire (article 1304 du Code civil) de la non-délivrance des autorisations ou réglementation contraire au vol de drones. Si le service est impossible dans les termes convenus du Devis, la condition résolutoire est accomplie et le Devis devient nul, sans indemnité de part et d’autre.
  </p>
  <p>
  4. Tout autre document que le Devis et les présentes CGV n'ont qu'une valeur informative et indicative, et non-contractuelle.
  </p>
  <p>
  5. A l’issue de la collecte des données par le drone, le Client recevra son dossier ('Dossier')par mail ou sur clé USB (selon les termes cités dans le Devis).La réception de ce Dossier matérialise la fin du Service.
  </p>
  <p>
  6. Il appartient au Client de prendre toutes mesures nécessaires à la sauvegarde des données de son Dossier.
  </p>
  <p>
  7. WAIRDRONE conserve une copie de ces Dossiers pendant une durée de 3 mois après le Service.
  </p>
  <p>
  8. WAIRDRONE déclare et obtient auprès des autorités préfectorales le récépissé ou l’autorisation de vol nécessaire afin de permettre le Service. Si l’autorisation n’est pas délivrée dans le délai attendu convenu sur le Devis la relation contractuelle prendra fin immédiatement sans indemnité de part et d’autre.
  </p>
  <p>
  9. L’obtention de toute autre autorisation que celle visée au paragraphe 1 ci-dessus est à la charge du Client (y compris pour la visite préparatoire), tel que (liste non-limitative) l’autorisation du propriétaire du site ou de son représentant, l’autorisation du maître d’ouvrage ou de son représentant, les autorisations de toute personne filmée par le drone (droit à l’image) lors du Service ou de la visite préparatoire. Le Client s’engage à prévenir toutes les personnes concernées sur le site, y compris par voie d’affichage, et communiquera à WAIRDRONE une copie de ces autorisations. Pour l’autorisation d’être filmé, le Client recueille par écrit avant le vol du drone l’accord individuel de chaque personne concernée. Toutes ces autorisations doivent être obtenues par le Client avant la date programmée du vol. Si les autorisations nécessaires ne sont pas obtenues dans un délai d'un mois à compter de la demande effectuée par le Client, la relation contractuelle prendra fin immédiatement sans indemnité de part et d’autre.
  </p>
  <p>
  10. Le Client doit donner à WAIRDRONE l’accès au site les jours convenus pour la visite préparatoire et le jour du Service.
  </p>
  <p>
  11. Le calendrier de réalisation de la Prestation est indicatif. Le vol sera effectué sous réserve de la confirmation de sa faisabilité à l’issue de la Visite et de l’obtention des autorisations nécessaires. La date exacte et l’horaire pour la réalisation du vol seront confirmés par WAIRDRONE en fonction des conditions météorologiques.
  </p>
  <p>
  12. Le Dossier sera transmis au Client dans un délai maximum de six (6) mois afin que WAIRDRONE puisse procéder à une étude particulière des images prises durant le vol.
  </p>
  <p>
  13. WAIRDRONE informe le Client que la réalisation du Service peut être impossible sur le moment en raison de mauvaises conditions météorologiques pour le vol. Le Client est informé que le report du vol pourra nécessiter une nouvelle demande d’autorisation et donc un délai supplémentaire.
  </p>
  <p>
  14. Si la réalisation du Service est impossible dans un délai raisonnable, la relation contractuelle prend fin sans indemnité de part et d’autre.
  </p>
  <p>
  15. Le Client devra se conformer aux règles de sécurité communiquées par WAIRDRONE avant et pendant le vol et les faire respecter par toute personne présente sur le site. Le Client s’assure de la bonne compréhension de ces règles par toutes les personnes présentes sur le site et recueille par écrit avant le vol l’accord individuel de chaque personne concernée.
  </p>
  <p>
  16. Le prix correspondant au Service est indiqué dans le Devis.
  </p>
  <p>
  17. Le Service sera facturé à l'envoi du Dossier.
  </p>
  <p>
  18. Le règlement par le Client s’effectue par virement, au compte indiqué sur la facture, par un acompte de trente pourcent (30%) du montant de celle-ci avant la prestation, le solde de la facture devra être réglé à la livraison du Dossier. Tout règlement du Client devra rappeler le numéro de la facture. Aucun escompte pour paiement anticipé ne sera accordé.
  </p>
  <p>
  19. En cas de retard de paiement, WAIRDRONE se réserve en outre le droit de suspendre l’exécution du Service concernée ainsi que de tout autre service commandé par le Client à WAIRDRONE, ce que le Client accepte expressément.
  </p>
  <p>
  20. Le Client s’engage à vérifier le contenu du Dossier dans les cinq jours ouvrés suivant la date à laquelle il a été reçu par le Client, et signale dans ce délai à WAIRDRONE toute non-conformité éventuelle. Si pour une raison exclusivement imputable à WAIRDRONE, le Dossier n’est pas conforme aux spécifications (telles que confirmées par WAIRDRONE à la suite de la visite préparatoire), WAIRDRONE s’engage à corriger le Dossier. Toutefois, si la correction du Dossier implique de procéder à une nouvelle collecte des données sur le site et qu’il n’est pas possible de réaliser un nouveau vol dans un délai de six (6) mois (pour toute cause non-imputable à WAIRDRONE), la relation contractuelle prend fin sans indemnité de part et d’autre, le Client conservant en l’état le Dossier, mais renonçant à tous recours contre WAIRDRONE, WAIRDRONE renonçant à réclamer le paiement de la facture correspondante.
  </p>
  <p>
  21. Le Client interprète le Dossier sous son entière responsabilité et procédera à toute étude complémentaire jugée par lui utile ou nécessaire. WAIRDRONE ne pourra être tenue responsable de tout préjudice résultant de l’impossibilité (totale ou partielle) d’utilisation par le Client du Dossier, ou de l’inadéquation du Dossier aux besoins du Client.
  </p>
  <p>
  22. Le Client ne devient propriétaire du Dossier qu’après complet règlement du prix du Service, toutefois les droits d'images sont délivrés pour une durée de 3 ans. A la suite de cette période, si le client utilise toujours tout ou partie du Dossier, WAIRDRONE à la possibilité de facturer de nouveau ce droit d'image, et ce, tous les 3 ans si tout ou partie du Dossier est utilisé par le Client sans avoir à faire de Devis au préalable.
  </p>
  <p>
  23. Le Client autorise WAIRDRONE à utiliser les données ou images collectées par le drone afin d’améliorer sa base de connaissance interne.
  </p>
  <p>
  24. WAIRDRONE sera libre de réaliser et diffuser des communiqués de presse, annonces, publicités ou toute autre communication à caractère technique, commercial ou promotionnel relative au Service, et cela, dans tout type de média (internet, télévision, radio, presse écrite, salon professionnel ou grand public,...), sur tout type de support connus ou inconnus à ce jour (support imprimé ou numérique, brochures, film, vidéo, sans que cette liste soit limitative), dans toutes les langues et dans tous les pays, y compris en utilisant ou en combinant tout ou partie des données ou images collectées (sauf information préalablement désignée par le Client comme étant confidentielle).
  </p>
  <p>
  25. WAIRDRONE pourra librement faire figurer le nom du Client, ainsi que son logo sur une liste de références.
  </p>
  <p>
  26. Il est convenu que, sauf une faute dolosive, WAIRDRONE ne supportera pas les conséquences pécuniaires d’un dommage matériel causé au Client de son fait, au-delà d’un montant égal à deux 2 fois le prix payé par le Client pour le Service.
  </p>
  <p>
  27. Le Client renonce à recourir contre WAIRDRONE et ses assureurs en cas de dommages immatériels (entendu comme un dommage autre que corporel ou matériel) tels que (liste non-limitative), perte de profit, perte de production, manque à gagner, atteinte à l’image de marque causés du fait de l’exécution du Service, même dans le cas où WAIRDRONE aurait eu connaissance de l’éventualité de la survenance de tels dommages. Le Client indemnise et tient WAIRDRONE indemne de toutes réclamations de tiers pour de tels dommages.
  </p>
  <p>
  28. Le Client consent à ce que WAIRDRONE enregistre et traite des informations nominatives le concernant, notamment dans le cadre de la gestion, du financement et du recouvrement des créances du poste clients, le suivi de la relation client tel que la réalisation d'enquêtes de satisfaction, la gestion des réclamations et du service après-vente, la gestion des opérations relatives à la prospection, l'élaboration de statistiques commerciales, la gestion des avis sur les services ou contenus. Conformément aux dispositions de la loi Informatique et Liberté n° 78-17 du 6 janvier 1978 modifiée, le Client dispose d’un droit d’accès, de rectification et de suppression de ses données personnelles ainsi que d’un droit d’opposition à leur traitement, auprès de WAIRDRONE.
  </p>
  <p>
  29. WAIRDRONE ne pourra être tenue responsable envers le Client d’un manquement à ses obligations contractuelles qui serait imputable à un cas de force majeure. Constitueront des cas de force majeure les événements échappant raisonnablement au contrôle de WAIRDRONE, tels que les grèves, les troubles sociaux, émeutes, embargos, guerres, lock-out, non-disponibilité des moyens de transport et de communication, manques de fournitures de biens ou de services, restriction par ordre d’une juridiction ou d’une autorité publique, défauts d’obtention d’autorisations nécessaires ou d’approbations des organismes gouvernementaux et autorité.
  </p>
  <p>
  30. Le fait pour WAIRDRONE de ne pas appliquer à un quelconque moment une disposition des CGV, ou de ne pas en demander l’application par le Client, ne pourra en aucun cas être considéré comme constituant une renonciation à ladite disposition, ni au droit de WAIRDRONE de réclamer ultérieurement l’application de ladite disposition.
  </p>
  <p>
  31. La relation commerciale entre WAIRDRONE et le Client est régie par le droit français.
  </p>
  <p>
  32. De convention expresse, toutes les contestations concernant l’interprétation ou l’exécution du Service, même en cas de demande incidente, de pluralité de défendeurs ou d’appel en garantie, seront de la seule compétence du tribunal de commerce de Draguignan, auquel il est fait attribution de juridiction.
  </p>
</div>
