<div data-id="<%= service.id %>" >
  <div class="card-content">
    <div class="card-img grayscale">
      <%= cl_image_tag service.photos.first.key, class: "img-card", size: "337x260"%>
      <div class="card-text">
        <h2 class="text-decoration-none service-name"><%= service.name %></h2>
      </div>
    </div>
  </div>
</div>
