<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/WA-GUI"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/wairdrone/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/wairdrone/"><i class="fab fa-linkedin"></i></a>
    <a href="https://g.page/wairdrone?share"><i class="fab fa-google"></i></a>
  </div>
  <div class="footer-services">
    <a href="/services/1"><p>Thermographie bâtiments</p></a>
    <a href="/services/2"><p>Thermographie photovoltaïque</p></a>
    <a href="https://enterprise.dji.com/fr/news/detail/when-heat-sets-fields-on-fire"><p>Thermographie support incendie</p></a>
    <a href="https://youtu.be/1scjJW2VZ3U"><p>Thermographie recherche de personnes</p></a>
    <a href="/services/3"><p>Photogrammétrie</p></a>
  </div>
  <div class="footer-infos">
    <p>WAIRDRONE</p>
    <p>14 Rue de la République</p>
    <p>83300 Draguignan</p>
    <br>
    <p>SIRET : 539 918 771 00020</p>
    <p>Assurance AXA numéro 10287869104</p>
  </div>
  <div class="footer-contact">
    <a href="0618359113"><i class="fa-solid fa-mobile-screen-button"></i></a>
    <a href="wairdrone@gmail.com"><i class="fa-solid fa-at"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-copyright"></i> WAIRDRONE 2022
    <a href="/conditionsgeneralesventes"><p>Conditions Generales de Vente</p></a>

  </div>
</div>
