<!-- Footer -->
<footer
        class="text-center text-lg-start text-black"
        style="background-color: #FFFFFF"
        >
  <!-- Section: Social media -->
  <section
          class="d-flex justify-content-between p-4"
          style="background-color: #FFCE00"
          >
    <!-- Left -->
    <div class="me-5">
      <span>Vous pouvez nous trouver et nous suivre ici :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://g.page/wairdrone?share" class="text-black me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/wairdrone/" class="text-black me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/wairdrone/" class="text-black me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/WA-GUI" class="text-black me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="links">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">WAIRDRONE</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p>Siret : 53991877100020</p>
          <p>RC Pro AXA : 10287869104</p>
          <p>
            <a href="/conditionsgeneralesventes" class="text-black">Conditions Generales de Vente</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">SERVICES</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px;"
              />
          <p>
            <a href="/services/1" class="text-black">Thermographie bâtiment</a>
          </p>
          <p>
            <a href="/services/2" class="text-black">Thermographie photovoltaïque</a>
          </p>
          <p>
            <a href="/services/3" class="text-black">Photogrammétrie</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Liens</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p>
            <a href="https://enterprise.dji.com/fr/news/detail/when-heat-sets-fields-on-fire" target="_blank" class="text-black">Thermographie support incendie</a>
          </p>
          <p>
            <a href="https://youtu.be/1scjJW2VZ3U" target="_blank" class="text-black">Thermographie recherche de personnes</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p><i class="fas fa-envelope mr-3"></i> <a href="mailto:wairdrone@gmail.com" target="_blank">wairdrone@gmail.com</a></p>
          <p><i class="fas fa-phone mr-3"></i> <a href="tel:+336 18 35 91 13">06 18 35 91 13</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
        class="text-center p-3"
        style="background-color: white"
        >
        <%= image_tag("WAIRDRONE 2022 BLACK 3", alt: "Logo WAIRDRONE", size: "50x17")%>
    © WAIRDRONE 2022
    <a class="text-white" href="https://wairdrone.com/"
        ></a
      >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
