<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/wagui/image/upload/v1659456677/wairdrone/banners/banner_home_b_q7nlh6.svg);">
  <div class="container">
    <h2><strong>CONTACT</strong></h2>
    <p>Besoin d'un renseignement en particulier, d'aller plus loin dans votre projet, contactez-nous !</p>
    <a class="btn btn-ghost" href="/services">TARIFS</a>
  </div>
</div>
<div class="site-contact-container">
  <div>
    <p>Entreprise en nom propre : <strong>Guillaume Genet</strong></p>
    <p>Dénomination sociale : <strong>WAIRDRONE</strong></p>
  </div>
  <div>
    <p>Téléphone : <a href="tel:+336 18 35 91 13"><strong>06 18 35 91 13</strong></a></p>
    <p>E-mail : <a href="mailto:wairdrone@gmail.com" target="_blank"><strong>wairdrone@gmail.com</strong></a></p>
  </div>
  <div>
    <p>Siret : <strong>53991877100020</strong></p>
    <p>RC Pro AXA : <strong>10287869104</strong></p>
  </div>
</div>

<div>
  <div class="site-questions-container">
    <p><strong>Qui peut faire intervenir WAIRDRONE ?</strong></p>
    <p>Spécialiste de la thermograhie aérienne par drone, WAIRDRONE s'adresse principalement aux bureaux d'étude et aux compagnies d'assurances, venant ainsi optimiser les bilans et illustrer les expertises par de l'imagerie de précision.
    Si vous êtes un professionnel du bâtiment ou de l'immobilier, les services aériens par drone vous offrent un éventail de possibilités tout au long de la vie d'un bâtiment.
    Les prestations convenues sur-mesure s'adaptent à vos besoins.
    La Thermographie Aérienne par Drone, est un service complet qui sera effectué avec notre matériel de pointe
    (Drone DJI Matrice 200 & Caméra DJI Zenmuse XT2).</p>
  </div>
  <div class="site-questions-container">
    <p><strong>Comment se passe une prestation avec WAIRDRONE ?</strong></p>
    <p>Après avoir rempli la demande de devis correspondante à votre souhait de prestation sur notre site, notre équipe prendra contact avec vous pour récupérer les informations complémentaires afin de finaliser votre devis.
    Une visite préparatoire peut être programmée selon le type de projet.
    Vous recevrez ensuite votre devis sur-mesure.
    Nous nous occupons de toutes les autorisations nécessaires et règles de sécurité auprès de la DGAC (Direction Générale de l'Aviation Civile), de la préfecture ou autre organisme nécessitant une autorisation de vol.
    Nous procédons à la prestation.
    Vous recevez vos livrables sur la boite mail de votre choix ou sur clé usb selon le projet à la fin de la prestation.</p>
  </div>
  <div class="site-questions-container">
    <p><strong>Quels documents doit-on fournir à WAIRDRONE pour une prestation ?</strong></p>
    <p>Wairdrone vous propose des services clé en main, on s'occupe donc de toutes les formalités administratives pour votre prestation.
    Nous pouvons vous demander une autorisation des propriétaires des zones, chantiers ou bâtiments à survoler, et également faire remplir un formulaire concernant l'utilisation du droit d'image.</p>
  </div>
  <div class="site-questions-container">
    <p><strong>Quel matériel utilisons nous pour nos interventions ?</strong></p>
    <p>Nous avons choisi le drone Matrice 200 de chez DJI qui est un drone professionnel polyvalent.
    Nous l'avons équipé d'une DJI Zenmuse XT2, double caméra thermique radiométrique et 4K stabilisée par une nacelle 3 axes.
    Nous possédons également une caméra toujours de chez DJI, la Zenmuse X4S qui filme en 4K, étant plus orientée pour le reportage vidéo.
    Le DJI Mavic Pro 2 vient compléter notre gamme.</p>
  </div>
  <div class="site-questions-container">
    <p><strong>Comment se passe le règlement de la prestation ?</strong></p>
    <p>Suite à l'acceptation du devis, une facture d'acompte de 30% du montant total de la prestation est éditée et devra être soldée avant la programmation de l'intervention.
    Une fois la prestation accomplie, le dossier contenant les clichés et vidéos sera remis en échange du solde de la facture initiale.
    La durée due au traitement spécifique de certains clichés nécessitant une analyse particulière ou un montage vidéo vous sera communiqué au moment du devis.</p>
  </div>
</div>
