.visite-index {
  background-color:#c5c5c4;
  height: 544px;
  width: 377px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(204, 164, 31, 0.471);
}


.description-index {
  text-align: center;
  color: black;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;

h2 {
  font-size: 48px;
}

p {
  font-size: 16px;
}

}
