.visite-index {
  background-color:#d1d0cd;
  height: 544px;
  width: 377px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.471);

}

.visite-index:hover {
    background-color:white;
  }

.description-index {
  text-align: center;
  color: black;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;

h2 {
  font-size: 36px;
}

p {
  font-size: 14px
}

}
