.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 0px 25px;
  color: rgba(0, 0, 0, 0.500);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.25;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-services {
  font-size: 12px;
  text-decoration: none;
  & a {
    text-decoration: none;
    color: black;
    opacity: 0.50;
  }
}
.footer-services a:hover {
  opacity: 1;
}

.footer-infos {
  font-size: 12px;
  text-decoration: none;
  & p {
    opacity: 1;
  }
  & a {
    text-decoration: none;
    color: black;
    opacity: 0.30;
  }
}
.footer-infos a:hover {
  opacity: 1;
}

.footer-contact a {
  text-decoration: none;
  color: black;
  opacity: 0.25;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-contact a:hover {
  opacity: 1;
}

.footer-copyright {
  font-size: 12px;
  text-decoration: none;
  & a {
    text-decoration: none;
    color: black;
    opacity: 0.50;
  }
  & p {
    padding-top: 10px;
  }
}

.footer-copyright a:hover {
  opacity: 1;
}

