.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 180px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 260px;
  height: 80px;
}

.nav-item  {
  background-color: white;
  border: 4px dashed white;
  font-size: 1rem;
  font-family: 'Fira Sans';
  color:#FFCD01;
}

.navbar-light .navbar-nav .nav-link {
  color: #00000076;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgb(0, 0, 0);
}
